/*
    filename:       enhancements.css
    author:         Reuben Holmes
    created:        21/04/2023
    last modified:  26/04/2023
    description:    A CSS file to style enhancements.html
*/

h3 {
    font-size: 32px;
    text-align: left;
}

div {
    padding: 2em;
    background-color: #272729;
    margin: 2em auto;
    border-radius: 40px;
}

h1 {
    position:absolute;
    padding-top: 0em;
    width: 100%;
}

.parallax {
    /* The image used, change this per page if needed */
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/482/576/original/abstract-technology-background-blue-circuit-board-and-microchip-digital-power-line-vector.jpg");
    /* Keep the rest the same */
    min-height: 15em;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 0em;
    background-color: none;
    margin: 0 auto;
    border-radius: 0;
}