/* css style sheet by Jacob T */
.parallax {
    /* The image used, change this per page if needed */
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/482/576/original/abstract-technology-background-blue-circuit-board-and-microchip-digital-power-line-vector.jpg");
    /* Keep the rest the same */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
.hoverzoom{
    padding: 50px;
    background-color: #272729;
    transition: transform .2s;
    margin: 0 auto;
    border-radius: 40px;
}
.hoverzoom:hover{
    transform: scale(1.05);
}
